<html lang="en">
    {% include "./partial/global.njk" %}
    <body>
        <header class="header">
            {% include "./partial/navbar.njk" %}
        </header>
        <main>

            <h2>{{article.category}}</h2>

            <h1>{{article.title}}</h1>

            <p>{{article.description}}</p>

            <img src="{{article.image}}"/>

            <p>{{article.content}}</p>

            <a>{{article.tags}}</a>

        </main>