<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ableton</title>
    <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar__left">
          <div class="navbar__logo__img">
            <a href="https://uismhb.csb.app/">
              <svg role="img" aria-labelledby="logo" class="main-nav__logo__image" xmlns="https://uismhb.csb.app/" width="60" height="28" viewBox="0 0 45 21">
                <title id="logo">Ableton Homepage</title>
                <path d="M0 0h3v21H0zM6 0h3v21H6zM12 0h3v21h-3zM18 0h3v21h-3zM24 18h21v3H24zM24 12h21v3H24zM24 6h21v3H24zM24 0h21v3H24z"></path>
              </svg>
            </a>

            <ul>

              {% for navlink in navlinks %}
                <li>
                  <a class="navbar__link" href="{{navlink.href}}">{{navlink.title}}</a>
                </li>
              {% endfor %}
              <li>
                <button class="navbar__link__button">
                  {{navbarButton.title}}
                  <span class="navbar__link__txt">{{navbarButton.title2}}</span></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar__list2">
          {% for navlink2 in navlinks2 %}
            <li>
              <a class="navbar__link2" href="{{navlink2.href}}">{{navlink2.title}}</a>
            </li>
          {% endfor %}
        </div>

        <button class="navbar__menu">
          <div class="navbar__menu__button">{{navlinkMobile.title}}</div>
          <div class="navbar__menu__svg">
            <svg class="navbar__menu__js" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
            </svg>
          </div>
        </button>

      </nav>
    </header>

    <main>
      <div class="article1">
        <a href="{{article1.href}}">
          <img src="{{article1.pictureSrc}}" width="800" height="400"/></a>
        <div class="article1__txt">
          <a href="{{article1.href}}">
            <h1>
              {{article1.title}}
            </h1>
            <p>
              <span class="article1__underline__txt">{{article1.subtitle}}</span><span class="article1__size__txt">{{article1.subtitleSymbol}}</span></p>
          </a>
        </div>
      </div>
      <section class="panel-blog1">
        <div class="panel-blog1__navbar">
          <h2 class="panel-blog1__navbar__txt">{{panelBlog1Txt.content}}</h2>
        </div>
        <div class="panel-blog1__navbar__categories">
          <div class="panel-blog1__navbar__categories__xl">
            {% for navBlog in panelBlog1nav %}
              <a class="panel-blog1__navbar__categories__link" href="{{navBlog.href}}">{{navBlog.title}}</a>
            {% endfor %}

          </div>
          <div class="panel-blog1__navbar__categories__md">
            <a href="{{panelBlog1navGroup.href}}">{{panelBlog1navGroup.title}}</a>
          </div>
        </div>
      </section>
      <section class="section2">
        {% for teaser in blogTeaserCell %}
          <div class="blog-teaser__cell">
            <div class="cell">
              <a class="blog-teaser" href="{{teaser.href}}">
                <div class="blog-teaser__img">
                  <img src="{{teaser.pictureSrc}}" width="700" height="500">
                </div>
                <div class="blog-teaser__txt">
                  <h3 class="blog-teaser__category">{{teaser.category}}</h3>
                  <h2 class="blog-teaser__headline">{{teaser.headline}}</h2>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>