<nav class="navbar">
    <div class="navbar__left">
        <div class="navbar__logo__img">
            <a href="https://uismhb.csb.app/">
                <svg role="img" aria-labelledby="logo" class="main-nav__logo__image" xmlns="https://uismhb.csb.app/" width="60" height="28" viewBox="0 0 45 21">
                    <title id="logo">Ableton Homepage</title>
                    <path d="M0 0h3v21H0zM6 0h3v21H6zM12 0h3v21h-3zM18 0h3v21h-3zM24 18h21v3H24zM24 12h21v3H24zM24 6h21v3H24zM24 0h21v3H24z"></path>
                </svg>
            </a>
        </div>
        <div class="navbar__list1">
            <ul>
                {% for navlink in navlinks %}
                    <li>
                        <a class="navbar__link" href="{{navlink.href}}">{{navlink.title}}</a>
                    </li>
                {% endfor %}
                <li>
                    <button class="navbar__link__button">
                        {{navbarButton.title}}
                        <span class="navbar__link__txt">{{navbarButton.title2}}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar__list2">
        <ul>
            {% for navlink2 in navlinks2 %}
                <li>
                    <a class="navbar__link2" href="{{navlink2.href}}">{{navlink2.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="navbar__first">
        <button class="navbar__menu">
            <div class="navbar__menu__button">{{navlinkMobile.title}}</div>
            <div class="navbar__menu__svg">
                <svg class="navbar__menu__js" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
            </div>
        </button>
    </div>
</nav>