@font-face {
  font-family: "futura-pt-medium";
  src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2") format("woff2");
}

@font-face {
  font-family: "futura-pt";
  src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2") format("woff2");
}

body {
  font-family: futura-pt;
  font-size: 16px;
}

.navbar--open {
  position: absolute;
  top: 70px;
  width: 100%;
}

.navbar__scroll--open {
  background-color: blue;
  color: white;
  font-size: 20px;
}

.navbar__list1--open {
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 0px 20px;
}

.main-nav__link-list__link,
.main-nav__col {
  font-size: 14px
}

ul.main-nav__row {
  display: flex;
  width: 600px;
  height: 100px;
}

.main-nav__slideable::-webkit-scrollbar {
  width: 0px;
  height: 3px;
  background-color: transparents;

}

.main-nav__slideable::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

.main-nav__slideable {
  overflow: auto;
  width: 50%;
  height: 100%;

}

.main-nav--open {
  display: flex;
  align-items: center;
}

.navbar__logo__img {
  padding: 25px 25px;
}

.navbar {
  display: flex;
}

.navbar__menu {
  display: flex;
  font-size: 24px;
}

.navbar__menu__js {
  height: 25px;
  width: 20px;
}

.navbar__menu__button {
  padding: 25px 0px 0px 0px;
}

.navbar__menu__svg {
  padding: 32px 8px 0px 8px;
}

.navbar__list1 {
  display: none;
  font-size: 16px;
}

.navbar__list2 {
  display: none;
}

.navbar__link2__try {
  padding: 15px;
  color: blue;
}

.navbar__link2 {
  padding: 15px;
}

.navbar__link__button {
  padding: 0px 10px;
}

.navbar__list2 {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .navbar__first {
    display: none;
  }

  .navbar__list1 {
    display: block;

  }

  .navbar__list2 {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list1 ul {
    display: flex;

  }

  .navbar__list2 ul {
    display: flex;
  }

  .navbar__link {
    padding: 0px 10px;
  }
}

.main-footer {
  padding-left: 8vw;
  padding-right: 8vw;
  font-size: 16px;
}

.main-footer__contain {
  padding: 20px 0px;
}

.main-footer__img {
  width: 200px;
  padding: 30px 0px 30px 0px;
}

.main-footer__linklist1__social {
  display: flex;
  padding: 0px 15px 5px 0px;
}

.main-footer__linklist1__social li {
  width: 50px;
  height: 50px;
}

.main-footer li {
  padding: 3px 0px;
}

.main-footer__contain2 {
  padding: 15px 0px;
}

.main-footer__contain3 {
  padding: 15px 0px;
}

.main-footer__email input {
  background: transparent;
  background-color: #eee;
}

.main-footer__email {
  padding: 20px 0px;
}

.main-footer__email__button {
  padding: 0px 42px;
  color: white;
  background: blue;
}

@media (min-width: 1024px) {
  .main-footer__cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer__contain1 {
    order: 1;
    width: 40%;
  }

  .main-footer__contain2 {
    width: 25%;
    padding: 20px 0px 0px 0px;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .main-footer__contain3 {
    width: 25%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding: 10px 0px 0px 0px;
  }

  .main-footer {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .main-footer__img {
    padding-left: 20px;
  }
}

@media (min-width: 1280px) {
  .main-footer {
    font-size: 20px;
  }
}