@font-face {
    font-family: "futura-pt-medium";
    src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "futura-pt";
    src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2")
      format("woff2");
  }
  body {
    font-family: futura-pt;
    font-size: 16px;
  }
  .navbar__logo__img {
    padding: 25px 25px;
  }
  .navbar {
    display: flex;
  }
  .navbar__menu {
    display: flex;
  }
  .navbar__menu__js {
    height: 20px;
    width: 20px;
  }
  .navbar__menu__button {
    padding: 25px 0px 0px 0px;
  }
  .navbar__menu__svg {
    padding: 32px 8px 0px 8px;
  }
  .navbar__list1 {
    display: none;
  }
  .navbar__list2 {
    display: none;
  }
  .navbar__link {
    padding: 10px;
  }
  .navbar__link2__try {
    padding: 15px;
    color: blue;
  }
  .navbar__link2 {
    padding: 15px;
  }
  .navbar__link__button {
    padding: 0px 10px;
  }
  .navbar__list2 {
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    .navbar__first {
      display: none;
    }
    .navbar__list1 {
      display: block;
    }
    .navbar__list2 {
      display: block;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
    }
    .navbar__left {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar__list1 ul {
      display: flex;
    }
    .navbar__list2 ul {
      display: flex;
    }
  }
  .article__link1__img {
    display: block;
  }
  .article1__txt {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    line-height: 1.1em;
  }
  .article1 {
    position: relative;
    display: inline-block;
  }
  .article1__txt {
    color: #00ffaf;
    font-size: 24px;
  }
  .article1__underline__txt {
    font-size: 16px;
    text-decoration: underline;
  }
  .article1__size__txt {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    .article1__txt {
      font-size: 40px;
    }
    .article1__underline__txt {
      font-size: 24px;
    }
    .article1__size__txt {
      font-size: 20px;
    }
  }
  @media (min-width: 768px) {
    .article1__txt {
      font-size: 60px;
    }
    .article1__underline__txt {
      font-size: 24px;
    }
    .article1__size__txt {
      font-size: 20px;
    }
    .article1 {
      display: flex;
      justify-content: center;
    }
    .article1__txt {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
  @media (min-width: 1024px) {
    .article1__txt {
      padding-right: 200px;
      padding-left: 200px;
    }
  }
  @media (min-width: 1280px) {
    .article1__txt {
      padding-right: 400px;
      padding-left: 400px;
    }
  }
  @media (min-width: 1536px) {
    .article1__txt {
      padding-right: 500px;
      padding-left: 500px;
    }
  }
  .panel-blog1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    padding: 20px;
  }
  .panel-blog1__navbar__txt {
    font-size: 25px;
    padding: 15px;
  }
  .panel-blog1__navbar__categories__xl {
    display: none;
  }
  .panel-blog1__navbar__categories__md {
    display: none;
  }
  @media (min-width: 768px) {
    .panel-blog1__navbar__categories {
      font-size: 20px;
      color: blue;
      padding: 10px;
    }
    .panel-blog1__navbar__categories__md {
      display: block;
    }
    .panel-blog1__navbar__categories a {
      margin: 0px 0px 0px 18px;
    }
  }
  @media (min-width: 1024px) {
    .panel-blog1__navbar__categories__md {
      display: none;
    }
    .panel-blog1__navbar__categories__xl {
      display: block;
    }
  }
  @media (min-width: 1280px) {
    .panel-blog1__navbar__txt {
      font-size: 40px;
    }
  }
  .blog-teaser__category {
    font-size: 14px;
    color: #6dcbff;
  }
  .section2 {
    display: block;}
  .cell {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    position: relative;
    
  }
  .blog-teaser__img {
    padding-top: 8%;
  }
  .blog-teaser__category {
    padding-top: 2%;
    padding-bottom: 2%
  }
  @media (min-width: 640px) { 
    .blog-teaser__cell{
    display: flex;
    }
    .cell {
      padding-left: 4%;
      padding-right: 4%;  
    }    .blog-teaser__cell3 {
      width : 52% ;
      padding-left: 2%;
      padding-right: 4%; 
    }
    }
  @media (min-width: 1080px) {
    .section2 {
      display:flex;}
      .blog-teaser__cell {
      width : 100% ;
      padding-left: 2%;
      padding-right: 2%; 
    }
      .blog-teaser__cell3 {
      width : 48% ;
      padding-left: 0%;
      padding-right: 4%; 
    }
    }
    .panel-blog__navbar2 { 
      background-color: #eee;
      padding: 8%;
      margin: 30px 0px;
      font-size: 16px
     }
    .panel-blog__navbar2__categories__item {
      padding : 0px 0px 0px 1%;
      color: blue;
    }
    @media (min-width: 640px) { 
     .panel-blog__navbar2 { 
      padding: 3% 10%;
      }}
    @media (min-width: 768px) { 
     .panel-blog__navbar2 { 
      padding: 3% 15%;
      font-size: 20px;
     }}
     @media (min-width: 1080px) { 
     .panel-blog__navbar2 { 
      padding: 3% 25%;
      font-size: 24px;
     }} 
      

  .main-footer {
    padding-left: 8vw;
    padding-right: 8vw;
    font: 16px;
  }
  .main-footer__contain {
    padding: 20px 0px;
  }
  .main-footer__img {
    width: 200px;
    padding: 30px 0px 30px 0px;
  }
  .main-footer__linklist1__social {
    display: flex;
    padding: 0px 15px 5px 0px;
  }
  .main-footer__linklist1__social li {
    width: 50px;
    height: 50px;
  }
  .main-footer li {
    padding: 3px 0px;
  }
  .main-footer__contain2 {
    padding: 15px 0px;
  }
  .main-footer__contain3 {
    padding: 15px 0px;
  }
  
  .main-footer__email input {
    background: transparent;
    background-color: #eee;
  }
  .main-footer__email {
    padding: 20px 0px;
  }
  .main-footer__email__button {
    padding: 0px 42px;
    color: white;
    background: blue;
  }
  @media (min-width: 1024px) {
    .main-footer__cell {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .main-footer__contain1 {
      order: 1;
      width: 40%;
    }
    .main-footer__contain2 {
      width: 25%;
      padding: 20px 0px 0px 0px;
      padding-left: 2vw;
      padding-right: 2vw;
    }
    .main-footer__contain3 {
      width: 25%;
      padding-left: 2vw;
      padding-right: 2vw;
      padding: 10px 0px 0px 0px;
    }
  
    .main-footer {
      padding-left: 4vw;
      padding-right: 4vw;
    }
    .main-footer__img {
      padding-left: 20px;
    }
  }
  @media (min-width: 1280px) {
    .main-footer {
      font-size: 24px;
    }
  }
  