@font-face {
  font-family: "futura-pt-medium";
  src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2") format("woff2");
}

@font-face {
  font-family: "futura-pt";
  src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.2dadbb3c03c1.woff2") format("woff2");
}

body {
  font-family: "futura-pt-medium"
}

.article__link1__img {
  display: block;
}

.article1__txt {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  line-height: 1.1em;
}

.article1 {
  position: relative;
  display: inline-block;
}

.article1__txt {
  color: #00ffaf;
  font-size: 24px;
}

.article1__underline__txt {
  font-size: 16px;
  text-decoration: underline;
}

.article1__size__txt {
  font-size: 16px;
}

@media (min-width: 640px) {
  .article1__txt {
    font-size: 40px;
  }

  .article1__underline__txt {
    font-size: 24px;
  }

  .article1__size__txt {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .article1__txt {
    font-size: 60px;
  }

  .article1__underline__txt {
    font-size: 24px;
  }

  .article1__size__txt {
    font-size: 20px;
  }

  .article1 {
    display: flex;
    justify-content: center;
  }

  .article1__txt {
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media (min-width: 1024px) {
  .article1__txt {
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media (min-width: 1280px) {
  .article1__txt {
    padding-right: 400px;
    padding-left: 400px;
  }
}

@media (min-width: 1536px) {
  .article1__txt {
    padding-right: 700px;
    padding-left: 700px;
  }
}

.panel-blog1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
  padding: 20px;
}

.panel-blog1__navbar__txt {
  font-size: 25px;
  padding: 15px;
}

.panel-blog1__navbar__categories__xl {
  display: none;
}

.panel-blog1__navbar__categories__md {
  display: none;
}

@media (min-width: 768px) {
  .panel-blog1__navbar__categories {
    font-size: 20px;
    color: blue;
    padding: 10px;
  }

  .panel-blog1__navbar__categories__md {
    display: block;
  }

  .panel-blog1__navbar__categories a {
    margin: 0px 0px 0px 18px;
  }
}

@media (min-width: 1024px) {
  .panel-blog1__navbar__categories__md {
    display: none;
  }

  .panel-blog1__navbar__categories {
    font-size: 24px;
  }

  .panel-blog1__navbar__categories__xl {
    display: block;
  }
}

@media (min-width: 1280px) {
  .panel-blog1__navbar__txt {
    font-size: 40px;
  }


}

.blog-teaser__category {
  font-size: 14px;
  color: #6dcbff;
}

.section2 {

  display: flex;
  align-items: center;
  flex-direction: column;

}

.cell {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 4%;
  position: relative;

}

.blog-teaser__img {
  padding-top: 8%;
}

.blog-teaser__category {
  padding-top: 2%;
  padding-bottom: 2%
}

@media (min-width: 640px) {
  .blog-teaser__cell {
    display: flex;
  }

  .cell {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1080px) {
  .section2 {
    display: flex;
    flex-direction: row;
    font-size: 22px;
  }

  .blog-teaser__cell {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 22px;
  }
}

.panel-blog__navbar2 {
  background-color: #eee;
  padding: 8%;
  margin: 30px 0px;
  font-size: 16px
}

.panel-blog__navbar2__categories__item {
  padding: 0px 0px 0px 1%;
  color: blue;
}

@media (min-width: 640px) {
  .panel-blog__navbar2 {
    padding: 3% 10%;
  }
}

@media (min-width: 768px) {
  .panel-blog__navbar2 {
    padding: 3% 15%;
    font-size: 20px;
  }

  .section2 {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  .panel-blog__navbar2 {
    padding: 3% 00% 3% 32%;
    font-size: 24px;
  }
}