<footer class="main-footer">
    <img class="main-footer__img" src="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/ableton-wordmark.c025e3df71b3.svg" alt="picture of ableton written in full"/>
    <div class="main-footer__cell">
        <div class="main-footer__contain1">
            <div class="main-footer__listlink2">
                <h3>
                    <strong>Sign up to our newsletter</strong>
                </h3>
                <div class="main-footer__txt3">Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more.</div>
            </div>
            <div class="main-footer__email">
                <input name="email" type="email" placeholder="Email Address"/>
                <button class="main-footer__email__button">Sign up</button>
            </div>
        </div>
        <div class="main-footer__contain2">
            <div class="main-footer__linklist1">
                <ul class="main-footer__linklist1__txt">
                    {% for linkList in apiFooter.slice(0, 3) %}
                        <li>
                            <a href="{{linkList.href}}">{{linkList.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="main-footer__linklist1__social">
                    <li>
                        <a class="main-footer__linklist1__social__img" href="https://www.facebook.com/ableton"><img src="https://www.citibeats.com/hubfs/Partners/Facebook%20Logo.jpg" alt="facebook icon" width="40" height="40"></a>
                    </li>
                    <li>
                        <a class="main-footer__linklist1__social__img" href="https://twitter.com/ableton"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="twitter icon" width="40" height="40"></a>
                    </li>
                    <li>
                        <a class="main-footer__linklist1__social__img" href="https://www.youtube.com/ableton"><img src="https://seeklogo.com/images/Y/youtube-square-logo-3F9D037665-seeklogo.com.png" alt="youtube icon" width="40" height="40"></a>
                    </li>
                    <li>
                        <a class="main-footer__linklist1__social__img" href="https://www.instagram.com/ableton/"><img src="https://i.pinimg.com/originals/73/20/b9/7320b91ed7efe6a0e4767ccb944bdd23.jpg" alt="instagram icon" width="40" height="40"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-footer__contain3">
            <div class="main-footer__listlink2">
                <h3>
                    <b>{{apiFooter[3].main_title}}
                    </b>
                </h3>
                <ul>
                    {% for listLink in apiFooter.slice(3, 6) %}
                        <li>
                            <a href="{{listLink.href}}">{{listLink.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>