<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <!-- Primary Meta Tags -->
  <title>{{head.titleTab}}</title>
  <meta name="title" content="{{head.openGraphTitle}}">
  <meta name="description" content="{{head.openGraphDescription}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{head.openGraphUrl}}">
  <meta property="og:title" content="{{head.openGraphTitle}}">
  <meta property="og:description" content="{{head.openGraphDescription}}">
  <meta property="og:image" content="{{head.openGraphPicture}}">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{head.openGraphUrl}}">
  <meta property="twitter:title" content="{{head.openGraphTitle}}">
  <meta property="twitter:description" content="{{head.openGraphDescription}}">
  <meta property="twitter:image" content="{{head.openGraphPicture}}">
  <meta name="robots" content="index">
  <meta name="theme-color" content="#FFFFFF">
  <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/ico" href="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/favicon.f83afbda6c78.ico">
  <link href="{{head.CSS}}" rel="stylesheet"/>
  <link href="{{head.CSSglobal}}" rel="stylesheet"/>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F429EC7EBZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-F429EC7EBZ');
  </script>
</head>