<nav class="navbar" id="navbarAll">
    <div class="navbar__left">
        <div class="navbar__logo__img">
            <a href="/">
                <svg role="img" aria-labelledby="logo"  id="main-nav__logo__image--js"class="main-nav__logo__image" xmlns="https://uismhb.csb.app/" width="60" height="28" viewBox="0 0 45 21">
                    <title id="logo">Ableton Homepage</title>
                    <path d="M0 0h3v21H0zM6 0h3v21H6zM12 0h3v21h-3zM18 0h3v21h-3zM24 18h21v3H24zM24 12h21v3H24zM24 6h21v3H24zM24 0h21v3H24z"></path>
                </svg>
            </a>
        </div>
        <div class="navbar__list1">
            <ul>
                {% for navlink in navbar.navlinks %}
                    <li>
                        <a class="navbar__link" href="{{navlink.href}}">{{navlink.title}}</a>
                    </li>
                {% endfor %}
                <li>
                    <button class="navbar__link__button">
                        {{navbar.navbarButton.title}}
                        <span class="navbar__link__txt">{{navbar.navbarButton.title2}}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar__list2">
        <ul>
            <li>
                <a class="navbar__link2__try" href="{{navbar.navlinkTry.href}}">{{navbar.navlinkTry.title}}</a>
            </li>
            <li>
                <a class="navbar__link2" href="{{navbar.navlinkLogIn.href}}">
                    {{navbar.navlinkLogIn.title}}
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar__first" id="navbar__first--js">
        <button class="navbar__menu" id="menuButton">
            <div class="navbar__menu__button">{{navbar.navlinkMobile.title}}</div>
            <div class="navbar__menu__svg">
                <svg class="navbar__menu__js" id="arrowMenu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
            </div>
        </button>
    </div>

    <div class="navbar--open" id="navbar__js--open" style="display:none">

        <div class="navbar__list1--open">
            <ul>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/push/">
          Push
        </a>
                </li>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/link/">
          Link
        </a>
                </li>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/shop/">
          Shop
        </a>
                </li>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/packs/">
          Packs
        </a>
                </li>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/help/">
          Help
        </a>
                </li>
                <li>
                    <a class="navbar__link" href="https://www.ableton.com/en/trial/">Try live for free</a>
                </li>
                <li>
                    <a class="navbar__link main-nav__link-list__link" href="/member/login.html">
          Login or register
        </a>
                </li>
            </ul>
            <div class="navbar__more">
                <h3>More on Ableton.com:</h3>
                <ul class="main-nav__link-list">
                    <li class="main-nav__link-list__item">
                        <a href="" class="main-nav__link-list__link">Blog</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="" class="main-nav__link-list__link">Ableton for the Classroom</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="" class="main-nav__link-list__link">Ableton for Colleges and Universities</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="" class="main-nav__link-list__link">Certified Training</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="/en/about/" class="main-nav__link-list__link">About Ableton</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="/en/jobs/" class="main-nav__link-list__link">Jobs</a>
                    </li>
                    <li class="main-nav__link-list__item">
                        <a href="" class="main-nav__link-list__link">Apprenticeships</a>
                    </li>
                </ul>
            </div>
            <div class="main-nav__more">
                <h3 class="main-nav__heading">More from Ableton:</h3>
                <div class="main-nav__slideable">
                    <div class="main-nav__slid">
                        <ul class="main-nav__row ">
                            <li class="main-nav__col">
                                <a href="/en/blog/loop/">
                                    <div>
                                        <h4>Loop</h4>
                                        <p>Watch Talks, Performances and Features from Ableton's Summit for Music Makers</p>
                                    </div>
                                </a>
                            </li>
                            <li class="main-nav__col">
                                <a href="https://learningmusic.ableton.com/">
                                    <div>
                                        <h4>Learning Music</h4>
                                        <p>Learn the fundamentals of music making right in your browser.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="main-nav__col">
                                <a href="https://learningsynths.ableton.com/">
                                    <div>
                                        <h4>Learning Synths</h4>
                                        <p>Get started with synthesis using a web-based synth and accompanying lessons.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="main-nav__col">
                                <a href="https://makingmusic.ableton.com/">
                                    <div>
                                        <h4>Making Music</h4>
                                        <p>Some tips from 74 Creative Strategies for Electronic Producers.</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>